<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<style>
		 	.mui-content-padded {
				padding: 10px;
			}
			body,body .mui-content {
				background-color: #fff !important;
			}
			code {
				word-wrap: break-word;
				word-break: normal;
				font-size: 90%;
				color: #c7254e;
				background-color: #f9f2f4;
				border-radius: 4px;
			}
		</style>
		
    	<!-- MD5 -->
    	<script src="../libs/md5-min.js"></script>
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button id="send" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">编辑</button>
			<h1 class="mui-title">短信详情</h1>
		</header>
		<div class="mui-content">
			
			<div class="mui-input-row">
				<label>Input</label>
				<input id="text" type="text" class="mui-input-clear" placeholder="带清除按钮的输入框">
			</div>
			<div class="mui-input-row" style="margin: 10px 5px;">
				<textarea id="textarea" rows="5" placeholder="多行文本框"></textarea>
			</div>
			
		
			<div class="mui-button-row">
				<button type="button" id="confirm" class="mui-btn mui-btn-primary">加密</button>
			</div>
			
			<h5 class="mui-content-padded">选择发送类型</h5>
			<ul class="mui-table-view mui-table-view-radio">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						授权
					</a>
				</li>
				<li class="mui-table-view-cell mui-selected">
					<a class="mui-navigate-right">
						注册
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						接口
					</a>
				</li>
			</ul>
			
			<div class="mui-content-padded">
				<p id="info"></p>
			</div>			
			
			<h4 class="mui-content-padded">获得响应：</h4>
			<code id="response"></code>
			
			<a id="send_href" href="sms:18127880170?body=send info">send</a>
			
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/make_sign.js" ></script>
		
		<script>
			    	
	    	mui.init();
				
			var text = document.getElementById("text");
			var textarea = document.getElementById("textarea");
			var response = document.getElementById("response");
			
	   		document.addEventListener('plusready', function(){
				var self = plus.webview.currentWebview();
				
				//通过openWindow方法的extras属性传过来的
				text.value = self.smsAddress;
				textarea.value = self.smsBody;
	   		});	   		 		
		
			var network = true;
			if(mui.os.plus){
				mui.plusReady(function () {
					if(plus.networkinfo.getCurrentType()==plus.networkinfo.CONNECTION_NONE){
						network = false;
					}
				});
			}
			
			//设置全局beforeSend
			mui.ajaxSettings.beforeSend = function(xhr, setting) {
				//beforeSend演示,也可在$.ajax({beforeSend:function(){}})中设置单个Ajax的beforeSend
				console.log('beforeSend:::' + JSON.stringify(setting));
			};
			//设置全局complete
			mui.ajaxSettings.complete = function(xhr, status) {
				console.log('complete:::' + status);
			}
			
			var ajax = function() {
				
				var url = 'http://211.97.0.5:8080/YkAPI/service';
				
				var data = {
				    methodNum:'AIF016',
				    source:textarea.value,
				    key:"lc"
				};
				data.sign = make_sign(data,window.localStorage.getItem('token'));
				
				mui.ajax(url,{
					data:data,
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					headers:{
						'X-Access-Token': window.localStorage.getItem('token')
					},
					success:function(data){
						//alert(JSON.stringify(data));
	                    if (!data.success){
	                    	alert(data.response.errorCode +":"+ data.response.errorMsg);
	                    	return;
	                    } 
						response.innerHTML=data.response.enCryptStr;
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						alert('请求AIF016失败,状态码:'+xhr.status);
					}
				});
			};
			
			//发送请求按钮的点击事件
			document.getElementById("confirm").addEventListener('tap', function() {
				if(network){
					ajax();
				}else{
					mui.toast("当前网络不给力，请稍后再试");
				}
			});
			
			var info = document.getElementById("info");
			document.querySelector('.mui-table-view.mui-table-view-radio').addEventListener('selected',function(e){
				info.innerHTML = "当前选中的为："+e.detail.el.innerText;
			});
			
			document.getElementById('send').addEventListener('tap', function() {

			});			
			
						
		</script>
	</body>

</html>