<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<style>
		 	.mui-content-padded {
				padding: 10px;
			}
			body,body .mui-content {
				background-color: #fff !important;
			}
			code {
				word-wrap: break-word;
				word-break: normal;
				font-size: 90%;
				color: #c7254e;
				background-color: #f9f2f4;
				border-radius: 4px;
			}
		</style>
		
    	<!-- MD5 -->
    	<script src="../libs/md5-min.js"></script>
    	   	
    	<script>    	
    		function makeSmsInfo(el){
    			//var send_href = document.getElementById("send_href");
    			var text = document.getElementById("text");
				var textarea = document.getElementById("textarea");
    			var response = document.getElementById("response");
    			var elem = document.querySelector('.mui-table-view-radio .mui-selected');
    			
    			//保存到localStorage start
	    		var time = new Date();
	    		var frmtTime = time.getFullYear()+"-"+(time.getMonth()+1)+"-"+time.getDate()+" "+time.getHours()+":"+time.getMinutes()+":"+time.getSeconds()+"."+time.getMilliseconds();

    			var smsObj = {
	    			telNo : text.value,
	    			orgRegNo : textarea.value,
	    			regNo : elem.innerText+":"+response.innerText  				
    			}; 
			    window.localStorage.setItem(frmtTime, JSON.stringify(smsObj));
    			//保存到localStorage stop
			    
    			el.href="sms:"+text.value+"?body="+elem.innerText+":"+response.innerText;
    			   			
    		}
    	</script>
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<!--<button id="send" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">发送</button>-->
			<!--this表示<a>元素对象-->
			<!--定论:javascript中,this关键字表示该javascript脚本的所有者对象-->
			<a id="send_href" class="mui-btn mui-btn-link mui-pull-right" onclick="makeSmsInfo(this)">发送</a>
			<h1 class="mui-title">短信详情</h1>
		</header>
		<div class="mui-content">
			
			<div class="mui-input-row" style="margin: 8px 5px;">
				<input id="text" type="text" class="mui-input-clear" placeholder="电话号码">
				<a href="tel:123456" class="mui-icon mui-icon-phone"></a>
			</div>
			<div class="mui-input-row" style="margin: 0px 5px 0px 5px;">
				<textarea id="textarea" rows="5" placeholder="短信内容"></textarea>
			</div>
					
		    <button type="button" id="confirm" class="mui-btn mui-btn-success mui-btn-block" style="margin: 0px 5px 0px 5px;">加密</button>
		    
			<div id="response" style="word-break:break-all;margin: 5px;"></div>
						
			<ul class="mui-table-view mui-table-view-radio" style="margin: 20px 0px 10px 0px;">
				<li class="mui-table-view-cell mui-selected">
					<a class="mui-navigate-right">授权</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">注册</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">接口</a>
				</li>
			</ul>
			
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/make_sign.js" ></script>
		
		<script>
			    	
	    	mui.init();
				
			var text = document.getElementById("text");
			var textarea = document.getElementById("textarea");
			var response = document.getElementById("response");
			
	   		document.addEventListener('plusready', function(){
				var self = plus.webview.currentWebview();
				
				//通过openWindow方法的extras属性传过来的
				text.value = self.smsAddress;
				textarea.value = self.smsBody;
	   		});	   		 		
		
			var network = true;
			if(mui.os.plus){
				mui.plusReady(function () {
					if(plus.networkinfo.getCurrentType()==plus.networkinfo.CONNECTION_NONE){
						network = false;
					}
				});
			}
			
			//设置全局beforeSend
			mui.ajaxSettings.beforeSend = function(xhr, setting) {
				//beforeSend演示,也可在$.ajax({beforeSend:function(){}})中设置单个Ajax的beforeSend
				console.log('beforeSend:::' + JSON.stringify(setting));
			};
			//设置全局complete
			mui.ajaxSettings.complete = function(xhr, status) {
				console.log('complete:::' + status);
			}
			
			var ajax = function() {
				
				var url = 'http://211.97.0.5:8080/YkAPI/service';
				
				var data = {
				    methodNum:'AIF016',
				    source:textarea.value,
				    key:"lc"
				};
				data.sign = make_sign(data,window.localStorage.getItem('token'));
				
				mui.ajax(url,{
					data:data,
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					headers:{
						'X-Access-Token': window.localStorage.getItem('token')
					},
					success:function(data){
						//alert(JSON.stringify(data));
	                    if (!data.success){
	                    	alert(data.response.errorCode +":"+ data.response.errorMsg);
	                    	return;
	                    } 
						response.innerText=data.response.enCryptStr;
					},
					error:function(xhr,type,errorThrown){
						//异常处理；
						alert('请求AIF016失败,状态码:'+xhr.status);
					}
				});
			};
			
			//发送请求按钮的点击事件
			document.getElementById("confirm").addEventListener('tap', function() {
				if(network){
					ajax();
				}else{
					mui.toast("当前网络不给力，请稍后再试");
				}
			});
					
		</script>
		 
	</body>

</html>